<div class="flex flex-col justify-center">
  <div *ngIf="errorMessage" role="alert">
    <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
      Danger
    </div>
    <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
      <p>{{errorMessage}}</p>
    </div>
  </div>
  <div class="mt-10 mx-20 flex justify-start">
    <!-- <input class="bg-gray-300 px-1 rounded-lg border-2 shadow-xl mx-10" id="search-input" [(ngModel)]="search" (keyup.enter)="onEnterPress()" placeholder="search">  -->
    <select [(ngModel)]="searchOption" name="search options" id="option" class="px-4 py-2 rounded-lg bg-gray-800 text-gray-300 hover:text-gray-800 hover:bg-gray-300 font-semibold shadow-xl">
      <option value="name">name</option>
      <option value="description">description</option>
      <option value="created by">created by</option>
    </select>
    <input class="bg-gray-300 px-1 rounded-lg border-2 shadow-xl mx-10" id="search-input" [(ngModel)]="searchTerm" placeholder="search"> 
    <button class="px-4 py-2 rounded-lg bg-gray-800 text-gray-300 hover:text-gray-800 hover:bg-gray-300 font-semibold shadow-xl" id="search-btn" (click)="search()">search</button>
  </div>
  <table class="mx-20 table-auto mt-5 rounded-lg shadow-lg border-separate flex-grow-0">
    <thead class="bg-gray-800 text-gray-300">
      <tr>
        <th class="rounded-l-lg py-2"></th>
        <th class="text-left px-8 py-2">Title</th>
        <th class="text-left px-8 py-2">Description</th>
        <th class="text-left px-8 py-2">Created By</th>
        <th class="rounded-r-lg py-2"></th>
      </tr>
    </thead>
    <tbody class="bg-gray-300 text-gray-800">
      <tr *ngFor="let category of categories">
        <ng-container *ngIf="category.shown && !category.beingEdited">
          <td>
            <button class="px-1 py-1 rounded-lg bg-blue-800 text-gray-300 hover:text-blue-800 hover:bg-gray-300 font-semibold shadow-xl" id="edit-btn" (click)="startEditCategory(category)">edit</button>
          </td>
          <td>
            {{category.name}} 
          </td>
          <td>
            {{category.description}}
          </td>
          <td>
            {{category.createdByName}}
          </td>
          <td>
            <button class="px-1 py-1 rounded-lg bg-red-800 text-gray-300 hover:text-red-800 hover:bg-gray-300 font-semibold shadow-xl" id="delete-btn" (click)="deleteCategory(category.id)">delete</button>
          </td>
        </ng-container>
        <ng-container *ngIf="category.shown && category.beingEdited">
          <td>
            <button class="px-1 py-1 rounded-lg bg-blue-800 text-gray-300 hover:text-blue-800 hover:bg-gray-300 font-semibold shadow-xl" id="edit-btn" (click)="editCategory(category)">save</button>
          </td>
          <td>
            <input class="px-1 bg-gray-300 border-2 shadow-xl" id="newTitle-input" [(ngModel)]="editTitle" placeholder="{{category.name}}">
          </td>
          <td>
            <input class="px-1 bg-gray-300 border-2 shadow-xl" id="newTitle-input" [(ngModel)]="editDesc" placeholder="{{category.description}}">
          </td>
          <td>
            {{category.createdByName}}
          </td>
          <td>
            <button class="px-1 py-1 rounded-lg bg-red-800 text-gray-300 hover:text-red-800 hover:bg-gray-300 font-semibold shadow-xl" id="delete-btn" (click)="deleteCategory(category.id)">delete</button>
          </td>
        </ng-container>
      </tr>
      <tr>
        <td>
          <button class="px-2 py-1 rounded-lg bg-green-800 text-gray-300 hover:text-green-800 hover:bg-gray-300 font-semibold shadow-xl" id="add-btn" (click)="saveNewCategory()">add</button>
        </td>
        <td>
          <input class="px-1 bg-gray-300 border-2 shadow-xl" id="newTitle-input" [(ngModel)]="newTitle" placeholder="new title">
        </td> 
        <td>
          <input class="px-1 bg-gray-300 border-2 shadow-xl" id="newDesc-input" [(ngModel)]="newDesc" placeholder="new Description">
        </td> 
        <td>By Me</td> 
        <td>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <div class="px-20 mt-5">
    <button class="px-4 py-2 rounded-lg bg-red-800 text-gray-300 hover:text-red-800 hover:bg-gray-300 font-semibold shadow-xl" id="delete-btn">delete</button>
  </div> -->
</div>